.card-style{
    background-color: rgb(49, 53, 59);
    color: white;
    font-size: 26px;
    text-transform: capitalize;
    text-align: center;
    font-family: 'Crimson Text', serif;

    transition-duration: 3s;
}

.card-style :hover{
    background-color: #F8B500;
    color: #FC3C3C; 
}

.card-style img:hover{
    transform: rotateY(390grad);
}

.no-decoration{
    text-decoration: none;
}

.no-decoration a:hover, a:visited, a:link, a:active{
    text-decoration: none;
}
/* https://github.com/IanLunn/Hover */