.border-panel{
    border-color: grey;
    border-radius: 15px;
    border-width: 4px;
    border-style: double;
}

.no-decoration-a{
color: #333;
text-decoration: none;
}

.margin-questions{
    margin: 0% 20%;
    font-family: 'Pacifico', cursive;
    font-size: 25px;
}

.img-profile-questions{
    width: 40px;
    height: 40px;

    position: relative;
}