.text-style{
    font-size: 20px;
    font-style: italic;
    
}

.txt-style{
    color: #F8B500;
}

.img-style{
    position: relative;
    
    width: 40px;
    height: 40px;
}

.a-s{
    text-decoration: none;
    color: #FFF4E0;
}